<content data-id="{{$_GET['globalTabIdIndex']}}">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>七牛云存储设置</legend>
    </fieldset>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">accessKey</label>
            <div class="layui-input-block">
                <input type="text" name="accessKey" value="{{$data['accessKey']}}" lay-verify="accessKey" autocomplete="off" placeholder="请输入accessKey" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">secretKey</label>
            <div class="layui-input-block">
                <input type="text" name="secretKey" value="{{$data['secretKey']}}" lay-verify="secretKey" autocomplete="off" placeholder="请输入secretKey" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">容器名字</label>
            <div class="layui-input-block">
                <input type="text" name="bucket_name" value="{{$data['bucket_name']}}" lay-verify="bucket_name" autocomplete="off" placeholder="请输入容器名字" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">容器外网访问域名</label>
            <div class="layui-input-block">
                <input type="text" name="bucket_host" value="{{$data['bucket_host']}}" lay-verify="bucket_host" autocomplete="off" placeholder="请输入容器外网访问域名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</content>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/assets/plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','layer'], function() {
        var form = layui.form();

        //自定义验证规则
        form.verify({
            accessKey: function(value) {
                if(value=='') {
                    return 'accessKey 不能为空';
                }
            },
            secretKey: function(value) {
                if(value=='') {
                    return 'secretKey 不能为空';
                }
            },
            bucket_name: function(value) {
                if(value=='') {
                    return '容器名称 不能为空';
                }
            },
            bucket_host: function(value) {
                if(value=='') {
                    return '容器外网访问域名 不能为空';
                }
            },
        });
        //监听提交
        form.on('submit(save)', function(data) {
            $.post('',data.field,function(result){
                if(result.status==1){
                    layer.msg(result.message);
                }else{
                    layer.msg(result.message);
                }
            });
            return false;
        });
    });
</script>