 
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>基于Layui的轻量级问答社区页面模版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
@include('Public.header')

<div class="main layui-clear">
  <div class="wrap">
    <div class="content" style="margin-right:0">
      <div class="fly-tab">
        <span>
          <a href="/Word/index/status/0.html" class="tab-this">全部</a>
          <a href="/Word/index/status/2.html">未结帖</a>
          <a href="/Word/index/status/3.html">已采纳</a>
          <a href="/Word/index/status/4.html">精帖</a>
          <a href="/User/index.html">我的帖</a>
        </span>
        <form action="https://www.baidu.com/s" class="fly-search" method="get">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="wd">
        </form>
        <a href="/Word/add.html" class="layui-btn jie-add">发布问题</a>
      </div>
    
      <ul class="fly-list">
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="http://tp4.sinaimg.cn/1345566427/180/5730976522/0" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">基于Layui的轻量级问答社区页面模版</a>
            <span class="fly-tip-stick">置顶</span>
            <span class="fly-tip-jing">精帖</span>
          </h2>
          <p>
            <span><a href="/User/home.html">贤心</a></span>
            <span>刚刚</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 317
              <i class="iconfont" title="人气">&#xe60b;</i> 6830
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/00.jpg" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html"> Layui 首个版本千呼万唤，终于滚出来了 </a>
            <span class="fly-tip-stick">置顶</span>
          </h2>
          <p>
            <span><a href="/User/home.html">纸飞机</a></span>
            <span>30分钟前</span>
            <span>技术闲谈</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 502
              <i class="iconfont" title="人气">&#xe60b;</i> 81689
            </span>
          </p>
        </li>
        
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
        <li class="fly-list-li">
          <a href="/User/home.html" class="fly-list-avatar">
            <img src="/images/avatar/default.png" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/Word/detail.html">关于layui 引用其他插件，扩展模块 的用法</a>
          </h2>
          <p>
            <span><a href="/User/home.html">用户昵称</a></span>
            <span>1小时前</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 8
              <i class="iconfont" title="人气">&#xe60b;</i> 106
            </span>
          </p>
        </li>
      </ul>
      
      <!-- <div class="fly-none">并无相关数据</div> -->
    
      <div style="text-align: center">
        <div class="laypage-main"><span class="laypage-curr">1</span><a href="//Word/page/2/">2</a><a href="//Word/page/3/">3</a><a href="//Word/page/4/">4</a><a href="//Word/page/5/">5</a><span>…</span><a href="//Word/page/148/" class="laypage-last" title="尾页">尾页</a><a href="//Word/page/2/" class="laypage-next">下一页</a></div>
      </div>
      
    </div>
  </div>
</div>
@include('Public.footer')

</body>
</html>