<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>后台导航列表</title>
    <link rel="stylesheet" href="/assets/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/assets/css/global.css" media="all">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/table.css" />
</head>
<body>
<div class="admin-main">

    <blockquote class="layui-elem-quote">
        <!--<a href="javascript:;" class="layui-btn layui-btn-small" id="add">-->
        <!--<i class="layui-icon">&#xe608;</i> 添加信息-->
        <!--</a>-->
        <!--<a href="#" class="layui-btn layui-btn-small" id="import">-->
        <!--<i class="layui-icon">&#xe608;</i> 导入信息-->
        <!--</a>-->
        <!--<a href="#" class="layui-btn layui-btn-small">-->
        <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i> 导出信息-->
        <!--</a>-->
        <!--<a href="#" class="layui-btn layui-btn-small" id="getSelected">-->
        <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i> 获取全选信息-->
        <!--</a>-->
        <!--<a href="javascript:;" class="layui-btn layui-btn-small" id="search">-->
        <!--<i class="layui-icon">&#xe615;</i> 搜索-->
        <!--</a>-->
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>后台导航列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 30px;display: none;"><input type="checkbox" lay-filter="allselector" lay-skin="primary"></th>
                    <th>排序</th>
                    <th>名称</th>
                    <th>模块</th>
                    <th>图标</th>
                    <th>所属导航</th>
                    <th>添加时间</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="paged" class="page">
        </div>
    </div>
</div>
<!--模板-->
<script type="text/html" id="tpl">
    @{{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td style="display: none;"><input type="checkbox" lay-skin="primary"></td>
        <td>@{{ item.sort }}</td>
        <td>@{{ item.title }}</td>
        <td>@{{ item.controller }}::@{{ item.action }}</td>
        <td><i class="layui-icon" data-icon="@{{item.icon}}">@{{item.icon}}</i></td>
        <td>@{{ item.created_at }}</td>
        <td>
            <!--<a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>-->
            <div class="layui-btn-group">
                <a href="javascript:window.location.href='/Menu/edit.html?id=@{{item.id}}';" data-name="@{{ item.id }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
                <a href="javascript:window.location.href='/Menu/delete.html?id=@{{item.id}}';" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
            </div>
        </td>
    </tr>
    @{{# }); }}
</script>
<script type="text/javascript" src="/assets/plugins/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/js/'
    });
    layui.use(['paging', 'form'], function() {
        var $ = layui.jquery,
            paging = layui.paging(),
            layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            layer = layui.layer, //获取当前窗口的layer对象
            form = layui.form();

        paging.init({
            openWait: true,
            url: '/Menu/index.html', //地址
            elem: '#content', //内容容器
            params: { //发送到服务端的参数
                data:1
            },
            type: 'GET',
            tempElem: '#tpl', //模块容器
            pageConfig: { //分页参数配置
                elem: '#paged', //分页容器
                pageSize: 8 //分页大小
            },
            success: function() { //渲染成功的回调
                //alert('渲染成功');
            },
            fail: function(msg) { //获取数据失败的回调
                //alert('获取数据失败')
            },
            complate: function() { //完成的回调
                //alert('处理完成');
                //重新渲染复选框
                form.render('checkbox');
                form.on('checkbox(allselector)', function(data) {
                    var elem = data.elem;

                    $('#content').children('tr').each(function() {
                        var $that = $(this);
                        //全选或反选
                        $that.children('td').eq(0).children('input[type=checkbox]')[0].checked = elem.checked;
                        form.render('checkbox');
                    });
                });

                //绑定所有编辑按钮事件
                $('#content').children('tr').each(function() {
                    var $that = $(this);
                    $that.children('td:last-child').children('a[data-opt=edit]').on('click', function() {
//                        layer.msg($(this).data('name'));
                    });

                });

            },
        });

        var addBoxIndex = -1;

        $('#import').on('click', function() {
            var that = this;
            var index = layer.tips('只想提示地精准些', that, { tips: [1, 'white'] });
            $('#layui-layer' + index).children('div.layui-layer-content').css('color', '#000000');
        });
    });
</script>
</body>
</html>